// Haeder
.header {
    margin-bottom: 50px;
    padding-bottom: 50px;
    .text-header {
        margin-top: 50px;
        margin-bottom: 50px;
        h2 {
            font-size: 35px;
            font-weight: 700;
            line-height: 50px;
            margin: 25px 0;
            color: $brandColor;
            @media #{$mediaExSmall} {
                font-size: 28px;
                line-height: 35px;
                margin: 15px 0;
            }
            @media #{$mediaSmall} {
                font-size: 33px;
                line-height: 38px;
                margin: 15px 0;
            }
            @media #{$mediaMedium} {
                font-size: 35px;
                line-height: 40px;
                margin: 20px 0;
            }
            @media #{$mediaLarge} {
                font-size: 35px;
                line-height: 40px;
                margin: 20px 0;
            }
        }
        p {
            margin-bottom: 10px;
        }
    }
    img {
        height: 650px;
        @media #{$mediaExSmall} {
            width: 100%;
            height: auto
        }
        @media #{$mediaSmall} {
            width: 100%;
            height: auto
        }
    }
}